extends layout

block content
  //h1= title
  #listContainer
    #productList
      h1= title
      form(method='POST', action='/sent')
        input(type='hidden', name='startDate', value='#{startDate}')
        input(type='hidden', name='endDate', value='#{endDate}')
        table
          thead
            tr
              th ID
              th Reg nummer
              th Bilmärke
              th Modell
              th Storlek
              th Bränsle
              th
          tbody
              tr
                td= smallVehicle.id
                td= smallVehicle.regNumber
                td= smallVehicle.brand
                td= smallVehicle.name
                td= smallVehicle.type
                td= smallVehicle.fuel
                td
                  button(name='vehicleId',value='#{smallVehicle.id}',id='btnAdd',type='submit') Boka
              tr
                td= mediumVehicle.id
                td= mediumVehicle.regNumber
                td= mediumVehicle.brand
                td= mediumVehicle.name
                td= mediumVehicle.type
                td= mediumVehicle.fuel
                td
                  button(name='vehicleId',value='#{mediumVehicle.id}',id='btnAdd',type='submit') Boka
              tr
                td= largeVehicle.id
                td= largeVehicle.regNumber
                td= largeVehicle.brand
                td= largeVehicle.name
                td= largeVehicle.type
                td= largeVehicle.fuel
                td
                  button(name='vehicleId',value='#{largeVehicle.id}',id='btnAdd',type='submit') Boka
              tr
                td= xlVehicle.id
                td= xlVehicle.regNumber
                td= xlVehicle.brand
                td= xlVehicle.name
                td= xlVehicle.type
                td= xlVehicle.fuel
                td
                  button(name='vehicleId',value='#{xlVehicle.id}',id='btnAdd',type='submit') Boka
