extends layout

block content
  #listContainer
    #productList
      h1 BOKNINGAR
      table
        thead
          tr
            th Bokningsnr
            th Anställningsnr
            th Startdatum
            th Slutdatum
            th Bil id
            th Förnamn
            th Efternamn
          tbody
            each item, i in bookings.bookings
              tr
                td= item.bookingId
                td= item.userId
                td= item.startDate
                td= item.endDate
                td= item.vehicleId
                td= item.firstName
                td= item.lastName
