extends layout

block content
  #listContainer
    #productList
      h1= title
      table
        thead
          tr
            th Bokningsnummer
            th Anställningsnr
            th Startdatum
            th Slutdatum
            th Bil id
          tbody
            each item, i in bookings.bookings
              tr
                td= item.bookingId
                td= item.userId
                td= item.startDate
                td= item.endDate
                td= item.vehicleId
