extends layout

block content
  #listContainer
    #productList
      h1 BOKNINGAR
      form(method='POST', action='/cancelBooking')
        - if (username !== "admin" )
          each item, i in bookings.bookings
            - if (item.canceled !== 0)
              .userBooking.canceledBooking
                ul
                  li AVBOKAD
                  li Bokningsid:  #{item.bookingId}
                  li Startdatum: #{item.startDate}
                  li Slutdatum: #{item.endDate}
                  li Fordonsnummer: #{item.vehicleId}
                  //button(name='bookingId',value='#{item.bookingId}',id='btnDelete',type='submit') Avboka
            - else
              .userBooking
                ul
                  li Bokningsid:  #{item.bookingId}
                  li Startdatum: #{item.startDate}
                  li Slutdatum: #{item.endDate}
                  li Fordonsnummer: #{item.vehicleId}
                  button(name='bookingId',value='#{item.bookingId}',id='btnDelete',type='submit') Avboka
        - else
          table
            thead
              tr
                th id
                th A.-nr
                th Startdatum
                th Slutdatum
                th Bil id
                th Förnamn
                th Efternamn
                th Canceled
                th Expired
                th 
              tbody
                each item, i in bookings.bookings
                  - if (item.canceled !== 0)
                    tr
                      td= item.bookingId
                      td= item.userId
                      td= item.startDate
                      td= item.endDate
                      td= item.vehicleId
                      td= item.firstName
                      td= item.lastName
                      td= item.canceled
                      td= item.expired
                      td 
                  - else
                    tr
                      td= item.bookingId
                      td= item.userId
                      td= item.startDate
                      td= item.endDate
                      td= item.vehicleId
                      td= item.firstName
                      td= item.lastName
                      td= item.canceled
                      td= item.expired
                      td 
                        button(name='bookingId',value='#{item.bookingId}',id='btnDelete',type='submit') Avboka                  