extends layout

block content
  #edit
    form(method='POST', action='/getVehicles')
      h1 EDIT VEHICLE
      div
        input(type='text', name='id', placeholder='#{vehicle.id}')
      div
        input(type='text', name='brand', placeholder='#{vehicle.brand}')
      div
        input(type='text', name='name', placeholder='#{vehicle.name}')
      div
        input(type='text', name='transmission', placeholder='#{vehicle.transmission}')
      div
        input(type='text', name='regNumber', placeholder='#{vehicle.regNumber}')
      div
        input(type='text', name='type', placeholder='#{vehicle.type}')
      div
        input(type='text', name='fuel', placeholder='#{vehicle.fuel}')
      div
        input(type='text', name='mileage', placeholder='#{vehicle.mileage}')
      div
        input(type='text', name='status', placeholder='#{vehicle.status}')
      div
        input(type='text', name='lastInspectionMonth', placeholder='#{vehicle.lastInspectionMonth}')
      div
        input(type='text', name='latestAnnualCarInspection', placeholder='#{vehicle.latestAnnualCarInspection}')
      p
        button.myButton Spara