extends layout

block content
  //h1= title
  #listContainer
    #productList
      h1= title
      - if (thisMonth == '3')
        p Denna månad: #{thisMonth}
      - else 
        p Ingen månad.
      table
          thead
              tr
                  th ID
                  th Reg nummer
                  th Bilmärke
                  th Modell
                  th Storlek
                  th Bränsle
                  th lastInspectionMonth
                  th(colspan='2')
          tbody
              each item, i in vehicles.vehicles
                  tr
                      td= item.id
                      td= item.regNumber
                      td= item.brand
                      td= item.name
                      td= item.type
                      td= item.fuel
                      if (thisMonth == item.lastInspectionMonth)
                        td #{item.lastInspectionMonth} ALERT! #{thisMonth}
                      else
                        td= item.lastInspectionMonth
                      td
                        button(id='btnAdd',onClick='onAdd()')  Ändra
                      td
                        button(id='btnDelete',onClick='onDelete()')  Radera
