extends layout

block content
  //h1= title
  #container
    #productList
      h1= title
      ul
        each val in vehicles.vehicles
          p 
            b #{val.brand} #{val.name}
            div Bilstorlek: #{val.type}
            div Registreringsnummer:  #{val.regNumber} 
            div Växellåda: #{val.transmission}
            div Drivmedel: #{val.fuel}
            div (Miltal: #{val.mileage})
            div (Tillgänglighet: #{val.status})
            div (Sista månad för besktning: #{val.lastInspectionMonth})
          //li
            a(href='product?id=#{val.id}') #{val.brand} - #{val.name}