extends layout

block content
  //h1= title
  #listContainer
    //#productList
    #productList
      h1 FORDON       
      div
        |     
        input.search(placeholder='Search')
        |     
        //button.sort(data-sort='name')
          | Sort by name
        |  &#x9;
        span.buttonSpan
          button(id='btnAdd',onClick='location.href="newVehicle";')  Lägg till bil
          br
          br
      form(method='POST', action='/editVehicle')
        table
          thead
            tr
              th ID-nr
              th Reg nummer
              th Bilmärke
              th Modell
              th Storlek
              th Bränsle
              //th lastInspectionMonth
              th(colspan='2')
          tbody.list
            each item, i in vehicles.vehicles
              - if (thisMonth == item.lastInspectionMonth)
                //tr.alert
                tr
                  td.id= item.id
                  td.regNumber= item.regNumber
                  td.brand= item.brand
                  td.name= item.name
                  td.type= item.type
                  td.fuel= item.fuel
                  //td= item.lastInspectionMonth
                  td
                    button(name='vehicleId',value='#{item.id}',id='btnAdd',type='submit') Ändra
                  td
                    button(id='btnAdd',onClick='location.href="removeVehicle?id=#{item.id}";return false;') Radera
              - else
                tr
                  td.id= item.id
                  td.regNumber= item.regNumber
                  td.brand= item.brand
                  td.name= item.name
                  td.type= item.type
                  td.fuel= item.fuel
                  //td= item.lastInspectionMonth
                  td
                    button(name='vehicleId',value='#{item.id}',id='btnAdd',type='submit') Ändra
                  td
                    button(id='btnAdd',onClick='location.href="removeVehicle?id=#{item.id}";return false;') Radera
          script(src='http://listjs.com/no-cdn/list.js')
          script(src='/js/script.js')                
