extends layout

block content
  //h1= title
  #listContainer
    #productList
      h1= title
      - if (thisMonth == '3')
        p Denna månad: #{thisMonth}
      - else 
        p Ingen månad.
      form(method='POST', action='/editVehicle')
        table
          thead
            tr
              th ID
              th Reg nummer
              th Bilmärke
              th Modell
              th Storlek
              th Bränsle
              //th lastInspectionMonth
              th(colspan='2')
          tbody
            each item, i in vehicles.vehicles
              - if (thisMonth == item.lastInspectionMonth)
                tr.alert
                  td= item.id
                  td= item.regNumber
                  td= item.brand
                  td= item.name
                  td= item.type
                  td= item.fuel
                  //td= item.lastInspectionMonth
                  td
                    button(name='vehicleId',value='#{item.id}',id='btnAdd',type='submit') Ändra
                  td
                    button(id='btnDelete',onClick='onDelete()')  Radera
              - else
                tr
                  td= item.id
                  td= item.regNumber
                  td= item.brand
                  td= item.name
                  td= item.type
                  td= item.fuel
                  //td= item.lastInspectionMonth
                  td
                    button(name='vehicleId',value='#{item.id}',id='btnAdd',type='submit') Ändra
                    //button(id='btnAdd',onClick='onAdd()')  Ändra
                  td
                    button(id='btnDelete',onClick='onDelete()')  Radera