extends layout

block content
  //h1= title
  #listContainer
    #productList
      h1 FORDON ATT ÅTGÄRDA
      form(method='POST', action='/editVehicle')
        table
          thead
            tr
              th ID
              th Reg nummer
              th Bilmärke
              th Modell
              th 1 månad till körförbud
              th Senaste besiktning
              th
          tbody
            each item, i in vehicles.vehicles
              - if (thisMonth == item.lastInspectionMonth)
                tr.alert
                  td= item.id
                  td= item.regNumber
                  td= item.brand
                  td= item.name
                  td= item.lastInspectionMonth
                  td= item.latestAnnualCarInspection
                  td
                    button(id='btnAdd',onClick='location.href="inspected?id=#{item.id}&inspected=#{thisYear}-#{zeroThisMonth}";return false;') Besiktigad
              - else if (thisMonth-item.lastInspectionMonth == 2 || thisMonth-item.lastInspectionMonth == 1 || thisMonth-item.lastInspectionMonth == -9 || item.lastInspectionMonth-thisMonth == 1 || item.lastInspectionMonth-thisMonth == 2 || item.lastInspectionMonth-thisMonth == 3)
                tr.warning
                  td= item.id
                  td= item.regNumber
                  td= item.brand
                  td= item.name
                  td= item.lastInspectionMonth
                  td= item.latestAnnualCarInspection
                  td
                    button(id='btnAdd',onClick='location.href="inspected?id=#{item.id}&inspected=#{thisYear}-#{zeroThisMonth}";return false;') Besiktigad
