extends layout

block content
  //h1= title
  #listContainer
    #productList
      h1= title
      table
          thead
              tr
                  th Anställningsnr
                  th Användarnamn
                  th Förnamn
                  th Efternamn
                  th Email

          tbody
              each item, i in users.users
                  tr
                      td= item.employeeNumber
                      td= item.username
                      td= item.firstName
                      td= item.lastName
                      td= item.email
