extends layout

block content
  //h1= title
  #container
    #productList
      h1= title
      ul
        each val in users.users
          .user 
            div 
              b Employee number: #{val.employeeNumber}
            div Username: #{val.username}
            div First name: #{val.firstName}
            div Last name: #{val.lastName}
            div E-mail: #{val.email}
          //li
            a(href='product?id=#{val.id}') #{val.brand} - #{val.name}